<ion-header>
    <ion-toolbar>
        <!-- <ion-title>自由之翼</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card [routerLink]="['/article',{topic:config.top.topic,article:topTitle}]">
        <ion-card-content>
            <!-- <ion-card-title>{{topTitle}}</ion-card-title> -->
            <markdown class="cardmd" [data]="topContent">
            </markdown>
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let article of articles" [routerLink]="['/article',{topic:article.topic,article:article.title}]">
        <ion-card-content>
            <!-- <ion-card-title>{{topTitle}}</ion-card-title> -->
            <markdown [data]="article.context">
            </markdown>
        </ion-card-content>
    </ion-card>



</ion-content>